[submodule "get-imports"]
	path = get-imports
	url = https://github.com/ganeshkbhat/get-imports.git
[submodule "get-root"]
	path = get-root
	url = https://github.com/ganeshkbhat/get-root.git
[submodule "apis-git"]
	path = apis-git
	url = https://github.com/ganeshkbhat/apis-git.git
[submodule "apis-mercurial"]
	path = apis-mercurial
	url = https://github.com/ganeshkbhat/apis-mercurial.git
[submodule "apis-svn"]
	path = apis-svn
	url = https://github.com/ganeshkbhat/apis-svn.git
[submodule "concurrency"]
	path = concurrency
	url = https://github.com/ganeshkbhat/concurrency.git
