[submodule "get-imports"]
	path = get-imports
	url = https://github.com/ganeshkbhat/get-imports.git
[submodule "get-root"]
	path = get-root
	url = https://github.com/ganeshkbhat/get-root.git
[submodule "apis-git"]
	path = apis-git
	url = https://github.com/ganeshkbhat/apis-git.git
[submodule "apis-mercurial"]
	path = apis-mercurial
	url = https://github.com/ganeshkbhat/apis-mercurial.git
[submodule "apis-svn"]
	path = apis-svn
	url = https://github.com/ganeshkbhat/apis-svn.git
[submodule "concurrency"]
	path = concurrency
	url = https://github.com/ganeshkbhat/concurrency.git
[submodule "apis-hasher"]
	path = apis-hasher
	url = https://github.com/ganeshkbhat/apis-hasher.git
[submodule "filelock.json"]
	path = filelock.json
	url = https://github.com/ganeshkbhat/filelock.json.git
[submodule "apis-request"]
	path = apis-request
	url = https://github.com/ganeshkbhat/apis-request.git
[submodule "get-isesm"]
	path = get-isesm
	url = https://github.com/ganeshkbhat/get-isesm.git
[submodule "concurrency.js.extended"]
	path = concurrency.js.extended
	url = https://github.com/ganeshkbhat/concurrency.js.extended.git
[submodule "queues.js"]
	path = queues.js
	url = https://github.com/ganeshkbhat/queues.js.git
[submodule "glob-traverse-fs"]
	path = glob-traverse-fs
	url = https://github.com/traverse-fs/glob-traverse-fs.git
[submodule "fssys"]
	path = fssys
	url = https://github.com/traverse-fs/fssys.git
